<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Thrust test stand</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
  <h1> Thrust test stand </h1>

  <div class="container">
    <div class="content">
      <div name="Drop down">
        <label for="chartName">Select a chart:</label>
        <select id="chartName">
          <option value="Thrust">Thrust</option>
          <option value="Power Usage">Power Usage</option>
          <option value="Efficiency">Efficiency</option>
          <option value="RPM">RPM</option>
        </select>
      </div>
      <button onclick="randChart()">Randomize
        Chart</button>
      <div>
        <button onclick="sendValSocket()">Add random
          values</button>
        <button onclick="resetCharts()"> Reset all charts </button>
      </div>

      <div id="canvasContainer">
        <canvas id="thrustChart"></canvas>
        <canvas id="powerUsageChart"></canvas>
        <canvas id="efficiencyChart"></canvas>
        <canvas id="rpmChart"></canvas>
      </div>
    </div>

    <div class="stats">
      <h2 style="text-decoration: underline;">Stats</h2>
      <h4 style="text-decoration: underline;">Means : </h4>
      <h5 id="thrustMean" name="tmean">Thrust : </h5>
      <h5 id="powerMean" name="pmean">Power Usage : </h5>
      <h5 id="efficiencyMean" name="emean">Efficiency : </h5>
      <h5 id="rpmMean" name="rmean">RPM : </h5>
      <h4 style="text-decoration: underline;"> Standard Deviations : </h4>
      <h5 id="thrustStd" name="tstd">Thrust : </h5>
      <h5 id="powerStd" name="pstd">Power Usage : </h5>
      <h5 id="efficiencyStd" name="estd">Efficiency : </h5>
      <h5 id="rpmStd" name="rstd">RPM : </h5>
      <input type="text" id="saveName" placeholder="Motor name" style="margin-top: 50px;">
      <button type="submit" onclick="sendStatsSocket()"> Save as </button>
      <h6 style="color: grey;" id="successMessage"></h6>
    </div>
  </div>

  <script src="../static/js/charts.js"></script>
</body>

</html>
