/* styles.css */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #canvasContainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  canvas {
    max-width: 500px;
    max-height: 250px;
    margin-right: 15px;
  }
  
  label {
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .container {
    display: flex;
  }

  .content {
    flex: 1;
  }

  .stats {
    flex: 0 0 200px; /* Fixed width for stats section */
    background-color: #f0f0f0;
    padding: 20px;
    margin-right: 50px;
    margin-bottom: 60px;
  }
